06-Weiterfuehrend-und-experimentell/data
06-Weiterfuehrend-und-experimentell/cifar_net.pth
.ipynb_checkpoints/
.idea/
tuner_dir
tuner_cifar_dir
cats_dogs
gpt_clone_tokenizer
events.out.*
input
working
translate
img/viz
img/viz.png
model_plot.png
model.weights.best.hdf5
*.hdf5
*.keras