05-Weiterfuehrend-und-experimentell/data
05-Weiterfuehrend-und-experimentell/cifar_net.pth
.ipynb_checkpoints/
.idea/
tuner_dir
tuner_cifar_dir
cats_dogs
img/viz
img/viz.png
model_plot.png
model.weights.best.hdf5
*.hdf5
*.keras